@font-face {
  font-family: sfPro;
  src: url("../../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: sfProBold;
  src: url("../../fonts/SF Pro Display Bold.ttf");
}

@font-face {
  font-family: paytone;
  src: url("../../fonts/PaytoneOne-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sfPro;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000;
}

#sidebar__logo {
  height: 40px;
  margin: 20px auto 80px auto;
  font-size: 30px;
  font-family: paytone;
  color: #ffffff;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  display: inline-block;
  width: 100%;
}

#sidebar ul .active {
  background: #86c232;
}

#sidebar ul .active a {
  color: black;
}

#sidebar a {
  display: block;
  padding: 10px 0;
  padding-left: 35px;
  color: #c9c9c9;
}

#sidebar a:hover {
  background: #86c232;
}

#content {
  overflow: auto;
  background: #d6d6d6;
}

#content .heading {
  margin-left: 100px;
}

#content .heading h1 {
  margin: 30px 0 50px 0;
}

#content .heading input[type="text"] {
  border: none;
  background: transparent;
  color: black;
  border-bottom: 2px solid #86c232;
  width: 300px;
  height: 20px;
}

#content .heading input[type="text"]:focus {
  outline: 0;
}

#content #get_info_imdb {
  background-color: black;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

#content #get_info_imdb:focus {
  outline: none;
}

#content #get_info_imdb:hover {
  background: #86c232;
}

#add {
  margin: 0;
  padding: 50px 100px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#add p {
  font-size: 30px;
  margin-bottom: 10px;
}

#add .single__element {
  height: auto;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

#add .element__title {
  height: 40px;
  width: 300px;
  display: inline-block;
}

#add .element {
  width: 100%;
}

#add .element__flex_single_element {
  width: 8rem;
  height: 20px;
}

#add .element .multi-lbl-input label {
  display: inline-block;
  width: 50px;
  margin: 10px 0;
}

#add .element .multi-lbl-input input[type="text"] {
  width: 145px;
}

#add .grid-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add-new-movie-form input[type="text"],
.add-new-movie-form input[type="number"] {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  border: 1px solid;
  padding-left: 10px;
}

.add-new-movie-form input[type="text"]:focus,
.add-new-movie-form input[type="number"]:focus {
  outline: none;
  border: 2px solid yellowgreen;
}

.add-new-movie-form select {
  width: 210px;
  padding: 5px;
}

.add-new-movie-form input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.add-new-movie-form input[type="submit"]:focus {
  outline: none;
}

.add-new-movie-form input[type="submit"]:hover {
  background: #86c232;
}

.devider-small {
  height: 3px;
  width: 700px;
  background: yellowgreen;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */