header#home.flex-row
      #logo CinePro
      nav#nav-menu
        ul
          li
            a(href='index.html') Home
          li Categories
          li Contact us
          li Log In
          input#searchBox.searchBox-hidden(type='text', placeholder='Search by movie name')
          button#searchBtn
            i.fa.fa-search